section:nth-of-type(1)
    background-image: url('../img/hero-bg.jpg'), linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5 ))
    background-blend-mode: overlay
    background-size: 100%
    width: 100%
    height: 700px
    nav
        background-color: rgb(0, 0 , 0, 0.5 )
        .top
            align-items: center
            width: 100%
        h3
            color: white
            &:hover
                color: white
        p
            color: white
            &:hover
                color: $orange
        button
            color: white
            width: 40%
            border-color: $orange
            &:hover
                background-color: $orange
                border-color: $orange

    .welcome
        margin-top: 210px
        margin-left: 100px
        background-color: rgb(0,0 ,0,0 )
        span
            color: $orange
        button
            margin-top: 20px
            color: white
            border-color: $orange
            width: 150px
            &:hover
                background-color: $orange
                border-color: $orange
.video-play-button 
    position: relative
    z-index: 10
    top: 300px
    margin-left: 500%
    box-sizing: content-box
    display: block
    width: 15px
    height: 12px
    background: #b50201
    border-radius: 50%
    padding: 9px 24px 18px 28px


.video-play-button:before 
    content: ""
    position: absolute
    z-index: 0
    left: 50%
    top: 50%
    transform: translateX(-50%) translateY(-50%)
    display: block
    width: 75px
    height: 75px
    background: #b50201
    border-radius: 50%
    animation: pulse-border 1500ms ease-out infinite


.video-play-button:after 
    content: ""
    position: absolute
    z-index: 1
    left: 50%
    top: 50%
    transform: translateX(-50%) translateY(-50%)
    display: block
    width: 70px
    height: 70px
    background: #b50201
    border-radius: 50%
    transition: all 200ms
    border: solid 4px #fff


.video-play-button span 
    display: block
    position: relative
    z-index: 3
    width: 0
    height: 0
    border-left: 18px solid #fff
    border-top: 10px solid transparent
    border-bottom: 12px solid transparent


@keyframes pulse-border 
  0% 
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1)
    opacity: 1
  100% 
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5)
    opacity: 0