section:nth-of-type(9)
    background-color: #0D0B09
    color: white
    padding-bottom: 50px
    padding-top: 50px
    width: 100%
    h1
        color: $orange
        padding-left: 75px
    .titre
        p
            padding-left: 75px
    i
        background-color: $orange
        font-size: 30px
        border-radius: 50%
        border: 10px solid $orange
    .card
        background-color: #0D0B09
        color: white
        padding-left: 75px
        padding-top: 50px

    textarea
        width: 100%
        height: 150px
        background-color: black
        border: solid 1px $orange
        margin-top: 40px
    input
        width: 100%
        height: 40px
        background-color: black
        border: solid 1px $orange
        margin-top: 40px
    .d-flex
        width: 100%
        >div:nth-of-type(1)
            width: 40%
        >div:nth-of-type(2)
            width: 40%
            padding-top: 50px
    button
        margin-top: 20px
        color: white
        border-color: $orange
        width: 150px
        background-color: $orange
        &:hover
            color: white
            background-color: $orange

@media (min-width: 424px) and (max-width: 767px)
    section:nth-of-type(9)
        h1
            padding-left: 25px
        .titre
            p
                padding-left: 25px
        .d-flex:nth-of-type(2)
            flex-direction: column
            width: 100%
            .card
                padding-left: 25px
            >div
                width: 100%
                h5,p
                    padding-left: 25px
        .input
            padding-left: 25px
            padding-right: 25px
        .flexInput
            gap: 10%
@media (min-width: 768px) and (max-width: 1023px)
    section:nth-of-type(9)
        h1
            padding-left: 25px
        .titre
            p
                padding-left: 25px
        .d-flex:nth-of-type(2)
            flex-direction: column
            width: 100%
            .card
                padding-left: 25px
            >div
                width: 100%
                h5,p
                    padding-left: 25px
        .input
            padding-left: 25px
            padding-right: 25px
            .d-flex
                flex-direction: row
                justify-content: space-between
                input
                    width: 48%