section:nth-of-type(7)
    background-color: #0D0B09
    color: white
    padding-bottom: 50px
    padding-top: 50px

    h1, p
        padding-left: 75px

    h1
        color: $orange
    .d-flex
        width: 98%
        margin: auto
        
        div
            overflow: hidden
            width: 25%
            border-bottom: 2px solid grey
            border-right: 2px solid grey
        img
            width: 100%
            &:hover
                scale: 1.2


@media (min-width: 424px) and (max-width: 767px)
    section:nth-of-type(7)
        h1, p
            padding-left: 25px
        .d-flex
            div
                width: 100%
@media (min-width: 768px) and (max-width: 1023px)
    section:nth-of-type(7)
        h1, p
            padding-left: 25px
        .d-flex
            div
                width: 32.5%