section:nth-of-type(8)
    background-color: #0D0B09
    color: white
    padding-left: 75px
    padding-bottom: 50px
    padding-top: 50px
    width: 100%
    h1
        color: $orange

    .d-flex
        width: 100%
        img
            width: 30%


@media (min-width: 424px) and (max-width: 767px)
    section:nth-of-type(8)
        padding-left: 25px
        padding-right: 25px
        .d-flex
            img
                width: 100%
@media (min-width: 768px) and (max-width: 1023px)
    section:nth-of-type(8)
        padding-left: 25px
        padding-right: 25px
        .d-flex
            img
                width: 48%
